
  <div class="page-header" style="margin-top: 10px;">
    <h1 style="text-align:left;color:whitesmoke;font-variant:small-caps;font-family:fantasy;margin-left:20px;">List Of Raw Materials</h1>
  </div>

<div style="width:800px;height:500px;background-color:white;margin:auto;border:3px solid #333333;overflow:scroll;">
<table class="table table-striped table-bordered">
  <tr>
    <th id="table_header"> S.NO</th>
    <th id="table_header">Item Name</th>
    <th id="table_header"></th>
    <th id="table_header"></th>
  </tr>
  <%@i=0%>
<% @stli.each do |s| %>
  <tr>
    <td><%@i+=1%><%=@i%></td>
    <td><%= s.name %></td>
    <td></td>
    <td>
      <%=link_to_modal "Edit", {:controller=>'stock_list_items',:action=>'edit', :id=>s.id},:class=>"btn-small btn-primary edit_button"%>&nbsp;&nbsp;
      <%=link_to_modal "Delete", {:controller=>'stock_list_items',:action=>'destroy', :id=>s.id},:class=>"btn-small btn-danger edit_button"%>
    </td>
  </tr>
<%end%>
</table>
    <br>

    <%=link_to_modal "Add New Item", {:controller=>'stock_list_items',:action=>'new'},:class=>"btn-large btn-success"%>
</div>

