
  <%unless @customer.nil?%>
<%@sum%>

  <table class="table table-striped table-bordered">
    <tr ><td style="background-color: #387038;color: white; ">SERIAL NO</td><td style="background-color: #387038;color: white; "> <%=@customer.serial_no%></td><td style="background-color: #387038;color: white; "></td><td style="background-color: #387038;color: white; "></td></tr>


        <tr><td style="background-color: #387038;color: white; ">Item Name</td><td style="background-color: #387038;color: white; ">Quantity </td><td style="background-color: #387038;color: white; ">MRP</td><td style="background-color: #387038;color: white; "> price</td></tr>

  <%@order.orderlists.each do |ol|%>
  <tr><td><%=ol.itemname%></td><td><%=ol.quantity%> </td><td><%=ol.price%></td><td><%@sum=(ol.price*ol.quantity)%><%=@sum%></td></tr>
  <%end%>
  <%@tax.each do |t|%>


  <tr ><td style="background-color: #387038;color: white; "><%=t.name%></td><td style="background-color: #387038;color: white; "> </td><td style="background-color: #387038;color: white; "><%="#{t.percentage}%"%></td><td style="background-color: #387038;color: white; "><%=@sum*t.percentage/100%></td></tr>
<%end%>
<tr ><td style="background-color: #387038;color: white; ">Total</td><td style="background-color: #387038;color: white; "> </td><td style="background-color: #387038;color: white; "></td><td style="background-color: #387038;color: white; "><%=@customer.total%></td></tr>


  </table>



<%end%>
