<div style="width:800px;height:500px;background-color:white;margin:auto;border:3px solid #333333;overflow:scroll;">
<table class="table table-hover"style="border:1px solid rgb(221,221,221);margin:auto; ">
  <tr style="background-color:#ffcccc">
    <td> S.NO</td>
    <td>Counter Name</td>
    <td>Created At</td>
    <td></td>
  </tr>
  <%@i=0%>
<%@counters.each do |s|%>

  <tr>
    <td><%@i+=1%><%=@i%></td>
    <td><%=s.name%></td>
    <td><%=s.created_at.to_date%></td>
    <td><%=link_to_modal "Edit", {:controller=>'counters',:action=>'edit',:id=>s.id},:class=>"btn-small btn-primary"%></td>

  </tr>

<%end%>
</table>
    <br/>
    <%=link_to_modal "Add New Counter", {:controller=>'counters',:action=>'new'},:class=>"btn-large btn-success"%>
</div>