<div style="margin-left: 400px; margin-right: 500px;margin-top: 20px;">
<%= form_for @category, {:url=>"/categories/create"} do |f| %>
  <%= render 'shared/error_messages', :target => f.object %>
  <%= f.label :name %>
  <%= f.text_field :name %></br>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</div>