<script>
  $(function() {
  $('.datepicker').datepicker();
});

</script>
<style>
  select {
    width: 70px;
    border: 1px solid #CCC;
    background-color: white;
  }
  td{
    border:1px solid rgb(221,221,221)
  }
  #my_button{
  height: 130px;
  width: 300px;
}
.hr1{
  height: 10px;
  color: red;
  background-color: red;
  width: 10px;
}
.hr2{
  height: 10px;
  color: greenyellow;
  background-color: green;
  width: 10px;
}
</style>
<%@a=[];@l=[];@r=[]%>
<%@a<<0;@l<<0;@r<<0%>
<div id="myDiv"style="width:1000px;height:880px;float: left;margin-left:40px;overflow: scroll;padding: 10px;">
  <h3>Inventory</h3>
  <div style="width:900px;background-color:#ff6666; border: 1px solid;">
 <div style ="width:350px;float:left;margin-left: 30px;margin-top:50px;">
    
  <%=form_for :sorting, :url=>"inventory" do%>


      <%= label_tag  'start Date'%>
      <%= text_field_tag 'sorting[start_date]',nil, :class => 'datepicker'%>


      <%= label_tag 'end Date' %>
      <%= text_field_tag 'sorting[end_date]',nil, :class => 'datepicker'%>

  </div>
 <div style ="margin-top:50px;padding:20px;">
 <%=  submit_tag "OK",:class=>'btn-large btn-success', :id => 'my_button'%>
 </div>
  </div>
    <%#*START DATE <%=date_select 'sorting[start_date]' ,"dob",:use_month_numbers => true,:order => [:day, :month, :year],:prompt => { :day => 'dd', :month => 'mm', :year => 'yyyy' },:start_year => 2000,:end_year=>(Date.today).year%%>
    <%#*END DATE <%=date_select 'sorting[end_date]' ,"dob",:use_month_numbers => true,:order => [:day, :month, :year],:prompt => { :day => 'dd', :month => 'mm', :year => 'yyyy' },:start_year => 2000,:end_year=>(Date.today).year+1%%>
    <%#=submit_tag "ok",:class=>'btn-small btn-info'%>

  <%end%>
  <%if !@stcs.empty?%>
    <%=link_to "save as PDF",{:action=>'inventory_pdf',:format=>'pdf',:end_date=>@ed,:start_date=>@sd},:target=>'_blank',:class=>'btn btn-success'%><br/><br/>



    <div style="width:900px;height:500px;background-color:white; margin-left:8px;border:3px solid black; overflow:scroll;">
      <table class="table table-hover "style="border:1px solid rgb(221,221,221)">
        <tr style="background-color:#ffcccc"><td></td><%(1..@stcs_size-1).each do |x|%>
            <td><%=@stcs[x].created_at.to_date%></td>
          <%end%></tr>

        <tr style="background-color:blanchedalmond; "><td>Customer count</td><%(1..@stcs_size-1).each do |x|%>
            <td> <%=Customer.count(:conditions=>{:date_of_transcation=>[@stcs[x-1].created_at..@stcs[x].created_at]})%></td>
          <%end%></tr>
        <tr style="background-color:blanchedalmond; "><td>NET SALES (Rs)</td><%(1..@stcs_size-1).each do |x|%>
            <td><%sum=Customer.sum(:total,:conditions=>{:status=>2,:date_of_transcation=>[@stcs[x-1].created_at..@stcs[x].created_at]})%>
            <%=sum%><%@a<<sum;@l<<@stcs[x].created_at.to_date%></td>
          <%end%>  </tr>
       
        <tr style="background-color:blanchedalmond; "><td>Payments To Suppliers (Rs)</td><%(1..@stcs_size-1).each do |x|%>
            <td><%=DeliveryItem.sum(:mrp, :conditions=>{:payment_status=>1,:updated_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%></td>
          <%end%>  </tr>

        <tr style="background-color:blanchedalmond; "><td>Salaries (Rs)</td><%(1..@stcs_size-1).each do |x|%>
            <td><%=Salary.sum(:net_payable,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%></td>
          <%end%>  </tr>

        <tr style="background-color:blanchedalmond; "><td>Other Expenditures (Rs)</td><%(1..@stcs_size-1).each do |x|%>
            <td><%=PaidOut.sum(:amount,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%></td>
          <%end%>  </tr>

        <tr style="background-color:blanchedalmond; "><td>BALANCE AMOUNT (Rs)</td><%(1..@stcs_size-1).each do |x|%>
            <td><%=Customer.sum(:total,:conditions=>{:status=>2,:date_of_transcation=>[@stcs[x-1].created_at..@stcs[x].created_at]})-DeliveryItem.sum(:mrp, :conditions=>{:payment_status=>1,:updated_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})-PaidOut.sum(:amount,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})-Salary.sum(:net_payable,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%></td>
          <%end%>  </tr>
         <tr><td>RAW MATIRIAL PURCHASED</td><%(1..@stcs_size-1).each do |x|%>
            <td><%=Delivery.sum(:cost,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%></td>
          <%end%>  </tr>
        <tr><td>PRE OWENED RAW MATIRAL</td><td><%=@cost_brought_forward%></td><%(1..@stcs_size-2).each do |x|%>
            <td><%=@stcs[x].cost%></td>
          <%end%>  </tr>


        <tr><td>RAW MATIRIAL AVAILABLE (Rs)</td><%(1..@stcs_size-1).each do |x|%>
            <td><%=@stcs[x].cost%></td>
          <%end%>  </tr>
        <tr><td>RAW MATIRIAL SPENT (Rs)</td><td><%rs=@cost_brought_forward+(Delivery.sum(:cost,:conditions=>{:created_at=>[@stcs[0].created_at..@stcs[1].created_at]}))-@stcs[1].cost%>
          <%=rs%></td>
         <%@r<<rs%>
  <%(2..@stcs_size-1).each do |x|%>

            <td><%rs=@stcs[x-1].cost+(Delivery.sum(:cost,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]}))-@stcs[x].cost%>

            <%=rs%><%@r<<rs%> </td>
          <%end%>  </tr>

        <tr style="background-color: rgb(221, 221, 221);"><td style="text-align: center;font-weight:bold">SALES REPORT</td></tr>
        <%(Item.all).each do |i|%>
          <tr><td><%=i.item_name%></td><%(1..@stcs_size-1).each do |x|%>
              <td><%=i.orderlists.sum(:quantity,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%> </td><%end%></tr>
        <%end%>

        <tr style="background-color: rgb(221, 221, 221);"><td style="text-align: center;font-weight:bold">STOCK IN REPORT </td></tr>
        <%@stlis.each do |item|%>
          <tr>
            <td><%=item.name%></td><%(1..@stcs_size-1).each do |x|%>
              <td><%=item.delivery_items.sum(:quantity,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%>
              </td>
            <%end%>
          </tr>
        <%end%>
        <tr style="background-color: rgb(221, 221, 221);">
          <td style="text-align: center;font-weight:bold">STOCK COUNT REPORT</td>
        </tr>
        <%@stlis.each do |item|%>
          <tr>
            <td><%=item.name%></td><%(1..@stcs_size-1).each do |x|%>

              <td><%=item.remaining_items.sum(:quantity,:conditions=>{:created_at=>[@stcs[x-1].created_at..@stcs[x].created_at]})%>
              </td>
            <%end%>
          </tr>
          
        <%end%>
      
    </table>

  </div>
  <div style="width:900px;height:400px;background-color:white;margin-left:10px;margin-top: 20px;border:3px solid black; overflow:scroll;">
    <div style="width: auto;float: right;margin-right: 80px;margin-top: 50px;">
      <ul class ="nav nav-pills nav-stacked">
      <li><hr class="hr1"></hr></li>Sales
      <li><hr class="hr2"></hr></li>Raw Items
      </ul>
    </div>
    <%h=@a.max%>
    <center>
      <%=image_tag Gchart.line(:title => 'sales',:bar_colors => 'FF0000,00FF00',:size=>'600x300',
              :data => [@a,@r],:axis_with_labels => ["x","y"],:axis_labels => [@l,[0,(h/4).round,(h/3).round,(h/2).round,h.round]] )%></center>
<%else%>
          <%#=  "No TRANSCATIONS IN GIVEN DATES" %>
<%end%>
  </div>
</div>