<html>
<head>
  <title>HotelApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag  "jquery.ui.all" %>
  <%= javascript_include_tag  "jquery.modal" %>

  <%= javascript_include_tag  "jquery_ujs" %>
  <%= javascript_include_tag  "jquery.keypad" %>
   <%= stylesheet_link_tag "jquery.keypad"%>
   <%= stylesheet_link_tag "custom_css.css"%>
  <%= csrf_meta_tags %>

</head>
<body onload="loadXMLDoc()" style="background-color: rgb(252, 248, 227);">
  <%#*<p class="notice"><%= notice%</p>%>
       <%#*<p><%= alert %</p>%>

  <ul class="nav nav-pills">
    <%#*<li style="margin-left: 20px"><%=link_to "dashboard",'dashboard',:class=>"btn-large btn-warning"%</li>%>

    <%#*<li><%=link_to "kitchen",'show',:class=>"btn-large btn-info",:target=>'_blank'%</li>%>
    <%#*<li><%=link_to "billing",'billing',:class=>"btn-large btn-success",:target=>'_blank'%</li>%>
<%#*<li style="float:right;margin-right: 100px"><%=link_to "setting",edit_user_registration_path ,:class=>"btn-large btn-primary"%</li>%>
<%#*<li><%=link_to "inventory",'/hotelsessions/inventory',:class=>"btn-large btn-info"%</li>%>

<% if user_signed_in? %>
    <li style="float:right;"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete,:class=>"btn-large btn-danger" %></li>
  <%end%>
      </ul>
       
 <%= render 'layouts/messages' %>
<%= yield %>

</body>
</html>
